<!DOCTYPE html>
<html xmlns:data-options="http://www.w3.org/1999/xhtml">
<head>

    <title>设备管理</title>
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.net/Public/js/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.net/Public/js/easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.net/Public/js/easyui/demo/demo.css"/>
    <style type="text/css">
        #fm{
            margin:0;
            padding:10px 30px;
        }
        .ftitle{
            font-size:14px;
            font-weight:bold;
            color:#666;
            padding:5px 0;
            margin-bottom:10px;
            border-bottom:1px solid #ccc;
        }
        .fitem{
            margin-bottom:5px;
        }
        .fitem label{
            display:inline-block;
            width:80px;
        }
    </style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.net/Public/js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/scripts/devicesDetail.js"></script>
</head>


<body>

<div class="demo-info" style="margin-bottom:10px">
    <div class="demo-tip icon-tip">&nbsp;</div>
</div>

<div id="table-div">
    <table id="dg" title="我的设备" class="easyui-datagrid" style="width:1100px;height:400px"
           url="/user/viewDevices"
           method="get"
           toolbar="#toolbar"
           rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
        <tr>
            <th field="name" width="50">设备名称</th>
            <th field="indexCode" width="50">设备类型编号</th>
            <th field="resourceType" width="50">设备资源类型</th>
        </tr>
        </thead>
    </table>
</div>



<div id="toolbar">
    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addDevice()">添加设备</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editDevice()">编辑设备</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="removeDevice()"> 删除设备</a>
    <a href="/user/logout" class="easyui-linkbutton" iconCls="icon-remove" plain="true" > 用户登出</a>
</div>


<!--添加设备对话框-->
<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">
    <div class="ftitle">设备信息</div>
    <form id="fm" method="post" novalidate="novalidate">

        <div class="fitem">
            <label>设备名称</label>
            <input name="name" class="easyui-validatebox" id="deviceName" required="true"  />
        </div>

        <div class="fitem">
            <label>设备类别编号</label>
            <input name="indexCode" class="easyui-numberbox"  data-options="prompt:'请输入数字'" required="true"/>
        </div>

        <div class="fitem">
            <label>资源类型</label>
            <input name="resourceType" class="easyui-validatebox" required="true" />
        </div>

    </form>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok"  onclick="saveDevice()">保存</a>
    <!--<a href="#" class="easyui-linkbutton" iconCls="icon-ok" id="saveDevice">保存</a>-->
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>
</body>
</html>